<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body})}">

<body>

  <h2>List of files</h2>

  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Owner</th>
        <th>Name</th>
        <th>Content</th>
      </tr>
    </thead>

    <tbody>
      <tr th:each="details : ${files}">
        <td th:text="${details.file.id}"></td>
        <td th:text="${details.owner.email}"></td>
        <td th:text="${details.file.name}"></td>
        <td th:text="${details.file.content}"></td>
      </tr>
    </tbody>
  </table>

</body>

</html>