<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body})}">

<body>

  <h2>List of authors</h2>

  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Email</th>
      </tr>
    </thead>

    <tbody>
      <tr th:each="owner : ${owners}">
        <td th:text="${owner.id}"></td>
        <td th:text="${owner.email}"></td>
      </tr>
    </tbody>
  </table>

</body>

</html>